/* You can add global styles to this file, and also import other style files */

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
	  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
	  sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

  code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
	  monospace;
}

.container {
	background-color: #222737;
	display: flex;
	justify-content: center; /* Centrage horizontal */
	align-items: center;     /* Centrage vertical */
	height: 100vh;           /* Hauteur de la fenêtre complète */
	width: 100%;             /* Largeur complète */
	box-sizing: border-box;
	  /* Inclut la bordure et le padding dans la largeur totale */
}

  /* Contenu extensible */
  .content {
	background-color: #f0f0f0; /* Exemple de couleur de fond */
	padding: 20px;             /* Espacement interne */
	border-radius: 8px;        /* Coins arrondis */
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Ombre pour le style */
	width: 100%;               /* Prend toute la largeur disponible */
	max-width: 800px;          /* Largeur maximale pour un aspect agréable */
}
